{% extends 'base.html' %}
{% block title %}
<title>Home page</title>
{% endblock title %}
{% block body %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Hello!</strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% load static %}
<div class="container my-3">
    <img  src="{% static 'img/blog.jpg' %}" style="width: 500px">
    <img  src="{% static 'img/images.jpg' %}" style="width:500px;height: 300px">
  <div class="row mb-2 my-3">
  {% for i in blogs %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
         
          <h3 class="mb-0">{{i.title}}</h3>
          <div class="mb-1 text-muted">{{i.date}}</div>
          <b>Posted By:->{{i.user_id.username}}</b>
          <p class="card-text mb-auto">{{i.description}}</p>
          <a href="blog_detail/{{i.id}}" class="">Continue reading</a>
        </div>
        
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}